body {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  height: 800px;
}

.top-container {
  background-color: #00bbf0;
  position: relative;
  padding-top: 100px;
}

.tommy {
  color: white;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0;
  font-size: 400%;
}

.webdeveloper {
  margin-top: 0;
  color: white;
}

.web {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
  height: 80px;
  width: 160px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
  height: 80px;
  width: 160px;
}

.mountain {
  object-fit: cover;
  object-position: 10% 30px;
}

h2 {
  color: #00bbf0;
}

h3 {
  color: #00bbf0;
}

p {}

.portrait {
  border-radius: 50%;
}

.middle-container {}

.bottom-container {}
